/* Fonts start */

/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* Fonts end */



/* Border-box start */

html {
    box-sizing: border-box; /* Прописываем для всего документа, для того, чтобы не ошибаться при работе с блоками и отступами */
}

*, *::before, *::after {
    box-sizing: inherit; /* Свойства наследуются у родителя - html. Такой способ более производителен, в отличие от простого указания border-box сразу для всех элементов, а не для html */
} 

/* Border-box end */



/* Main properties start */

body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

img {
    max-width: 100%; /* Прописываем для того, чтоы изображение никогда не привышало размеры контейнера, в котором оно находится */
    height: auto; /* Чтобы изображение всегда сжималось пропорционально по высоте */    
}

.wrapper {
    max-width: 1060px; /* Данный блок для контента теперь всегда будет ограничиваться такой шириной */
    margin: 0 auto; /* Один из спосоов выровнять блок по центру внутри его родителя */
    padding: 0 15px; /* Для адаптивной верстки, чтобы при уменьшении ширины экрана, тексты не прилипали к краям экрана, нужно обязательно прописать */
}

.wrapper-full {
    max-width: 1262px; /* С третьей секции ширина контента увеличивается и остается такой до футера, для этого создаем еще один класс для них с увеличинной шириной */
    margin: 0 auto;
    padding: 0 15px;
}

.section-title { /* Так же с третьей секции появляется заголовок с синей чертой снизу, он не один такой, поэтому создаем общий для них всех класс */
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px; /* 7 + 3 */
}

.section-title::after {
    display: block;
    content: ''; /* Обязательно для псевдоэлемента прописываем content: ''; Оно может быть пустым, но обязательно должно быть */
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Main properties end */



/* Header start */

.header {
    position: fixed; /* Фиксация хэдера к верху страницы. Кроме того, теперь блок не занимает пространство на странице */
    top: 0;
    left: 0;
    width: 100%; /* Всегда будет занимать 100% ширины экрана */
    transition: .2s linear;
    padding-bottom: 20px;
    z-index: 999; /* Утрированно добавлен такой индекс, чтобы гарантировать самое высокое преимущество элемента над всеми другими */
}

.header_active {
    background: #0E1D28;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap; /* Отвечает за перенос контента. Если не указать данное свойство, элементы в строке начнут наезжать друг на друга при большом их количестве */
    align-items: flex-end; /* Выравнивание по низу блока */
    justify-content: space-between;
    padding-top: 56px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 82px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active { /* :focus используется, когда пользователь табом навелся на ссылку */
    opacity: .75;
}

.header__burger {
    display: none;
    width: 40px;
    height: 28px;
    position: relative; /* Чтобы разлепить линии (они будут изначально слеплены к верху) и спозиционировть, нужно использовать position: relative; */
}

.burger__line {
    display: block; /* Чтобы в этом случае корректно стилизовать линии бургера, нужно сделать их блоками (так как span - строчный элемент) */
    width: 100%;
    height: 2px;    
    background-color: #fff;
    position: absolute;
    left: 0; /* Нужно прикрепить линии к какому либо блоку, можно и right: 0; */
}

.burger__line_first {
    top: 0;
}

.burger__line_second {
    top: 50%;
    transform: translateY(-50%);
}

.burger__line_third {
    bottom: 0;
}

/* Header end */



/* Intro start */

.intro {
    min-height: 100vh; /* 100% высоты экрана (vh - viewport height) */
    /* min-height: 963px; */
    background: url(../img/intro-bg.jpg) no-repeat center;
    background-size: cover; /* Изображение полностью будет покрывать блок независимо от его размеров */
    padding-top: 263px;
    padding-bottom: 375px;
}

.intro__title {
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    margin-bottom: 22px;
}

.intro__subtitle {
    max-width: 546px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 59px;
}

.search-form__info {
    display: flex;
    flex-wrap: wrap; /* Пропали отступы между инпутами и кнопкой */
}

.search-form__field {
    width: 297px;
    background: transparent url('../img/svg/circle-item.svg') no-repeat left 5px; /* transparent делает фон объекта прозрачным, без повторений, выравнивание по левой и на 5рх от топа */
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5; /* Скопировано из фигмы */
    margin-right: 60px;
    padding-left: 43px; /* 20 + 23 */
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}

.search-form__field::placeholder { /* изменение плейсхолдера элемента */
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}

.search-form__submit {
    padding: 15px 39px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    color: #fff;   
    background: #1B7DFF;
    border: 0;
}

.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active {
    background: #0E66DA;
}

/* Intro end */



/* Benefits start */

.benefits {
    margin-bottom: 131px;
}

.benefits__wrap { /* Белый блок на дизайне */
    max-width: 1262px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993); /* Скопировано из фигмы */
    position: relative; /* Родитель для benefits__title */
}

.benefits__title {
    width: 100%; /* По ширине 100% родителя */
    font-weight: 500; /* color наследуется от родителя */
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute; /* Чтобы спозиционировать блок абсолютно, для его родителя необходимо указать position: relative, а для этого объекта - position: absolute */
    top: 0; /* Теперь можно выравнивать по верху и по леву */
    left: 0;
    transform: translateY(-100%); /* Сдвигаем блок с title по оси Y (по вертикали) на 100% вверх (вверх -х%, вниз х% без минуса)*/
    background-color: #fff;
}

.benefits__cards {
    display: grid; /* В этом проекте будет использоваться грид */
    grid-template-columns: repeat(3, 1fr); /* 3 колонки с размером 1fr */
    column-gap: 55px; /* Отвечает за отступы между колонками */
    padding: 0 100px;
}

.benefits__card {
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefits__card-pic {
    max-width: 66px; /* Ограничиваем размеры изображения */
    margin-bottom: 37px;
}

.benefits__card-thumb {
    display: block; /* При добавлении изображения на страницу, даже если это svg, у нее всегда есть небольшой отступ снизу. Чтобы от этого избавиться, можно сделать контейнер флексом, либо сделать для этого изображения display: block; */
}

.benefits__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
}

.benefits__card-desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}

.benefits__card-more {
    display: inline-block;
    padding-right: 59px; /* 26 + 33 */
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    text-transform: uppercase;
    background: url(../img/svg/arrow-right-icon.svg) no-repeat 95% center; /* 95% - стрелка находится почти справа, но не в самом конце (при наведении будет полностью right) */
    transition: .2s all;
}

.benefits__card-more:hover, .benefits__card-more:focus {
    background: url(../img/svg/arrow-right-icon.svg) no-repeat right center;
}

/* Benefits end */



/* Places start */

.places {
    margin-bottom: 131px;
}

.places__caption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.places__title {
    margin-right: 15px; /* Для безопасности, чтобы, когда экран будет уменьшаться, элементы приблизятся друг к другу вплотную, и только после этого перейдут на новую строку, чтобы этого избежать, пишем отступ */
}

.places__view-all {
    font-size: 16px;
    color: #006FDE;
    text-decoration: none;
    padding-right: 59px;
    background: url(../img/svg/arrow-right-icon.svg) no-repeat 100% center; /* 100% = right */
    text-transform: uppercase;
}

.places__view-all:hover, .places__view-all:focus {
    opacity: .65;
}

.places__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Проблема: в первом ряду две колонки, во втором - уже три, количество колонок должно делиться и на 2, и на 3, это число 6 */
    column-gap: 10px;
    row-gap: 10px;
}

.places__card {
    position: relative;
    overflow: hidden; /* Отвечает за обрезание контента вне блока. В данном случае, все что находится внутри и превышает размер данного блока, обрезается */
}

.places__card::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4); /* rgba() скопировано из фигмы. Rbga - red, blue, green, alfa. alfa отвечает за opacity (прозрачность) */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.places__card:hover .places__card-pic { /* То есть, при наведении на places__card, будет изменяться places__card-pic */
    transform: scale(1.05);
}

.places__card-title {
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3; /* 1 - самый далекий объект, чем больше число, тем выше приоритет у объекта */
}

.places__card_size_lg {
    grid-column: span 3; /* Ширина - объединяет колонки */
}

.places__card_size_sm {
    grid-column: span 2;
}

.places__card-pic {
    width: 100%;
    
    transition: .15s all;
}

.places__card-pic_size_lg {
    height: 354px;
    object-fit: cover; /* Свойство указывает, как изображение будет масштабироваться внутри контейнера */
}

.places__card-pic_size_sm {
    height: 283px;
    object-fit: cover; 
}

.places__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4; /* Теперь, при наведении на картинки, появляется курсор, и вся картинка теперь - ссылка */
}

/* Places end */



/* Tours start */

.tours {
    margin-bottom: 139px;
}

.tours__tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 108px; 
    align-items: center;
    margin-bottom: 77px;
}

.tour__info {
    padding-left: 47px;
}

.tour__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}

.tour__desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
}

.tour__more {
    font-size: 16px;
    color: #006DFE;
    text-decoration: none;
    padding-right: 59px;
    background: url(../img/svg/arrow-right-icon.svg) no-repeat right center;
    text-transform: uppercase;
}

.tour__more:hover, .tour__more:focus {
    opacity: .65;
}

/* Tours end */



/* Top start */

.top {
    margin-bottom: 86px; /* 144 - 58 */
}

.top__title {
    margin-bottom: 54px;
}

.top__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 57px;
    row-gap: 57px;
}

.top__card-pic {
    position: relative;
    margin-bottom: 45px;
}

.top__card {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
}

.top__card-stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(21, 24, 26, 0.6);
    padding: 16px 25px;
}

.top__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin: 0 auto 0 0; /* Flex позволяет сдвигать элемент при помощи авто-позициционирования марджинов - сверху 0, справа авто, снизу и слева 0 */
}

.top__card-likes {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding-right: 20px; /* 4 + 16 */
    background: url(../img/svg/heart-icon.svg) no-repeat right 5px; /* Можно сделать также и через ::after, ::before, однако так получается немного быстрее */
    margin-right: 14px;    
}

.top__card-comments {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding-right: 23px; /* 14 + 9 */
    background: url(../img/svg/comment-icon.svg) no-repeat right 6px; 
}

.top__card-desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 31px;
}

.top__card-more {
    width: 118px;
    padding: 12px 19px; /* Сверху, снизу 12рх. Справа, слева - 19рх */
    background: #006DFE;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    margin: auto 0 0 0; /* Прибиваем кнопку к низу с помощью auto */
}

.top__card-more:hover, .top__card-more:active, .top__card-more:focus {
    background: #0E66DA;
}

/* Top end */



/* Videos start */

.videos {
    width: 100%;
}

.videos__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.video__item {
    padding-top: 56.25%; /* 16:100% / 9:56.25% */
}

.video__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Videos end */



/* Footer start */

.footer {
    background: #0E1D28;
    padding: 119px 0; /* Сверху и снизу 119рх, по бокам 0 */
}

.footer__item {
    display: flex;
    flex-wrap: wrap;
}

.footer__logo {
    width: 50%; /* Можно также написать flex-basis: 50%; */
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

.footer__menu-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.footer__menu-link {
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active {
    opacity: .75;
}

/* Footer end */
